.video__con {
  height: 350px;
  width: 100%;
  overflow-y: hidden;
  position: relative;
  iframe {
    height: 100%;
    width: 100%;
  }
  span {
    width: 100% !important;
    // height: 100% !important;
  }
  .video__action {
    position: absolute;
    bottom: 0px;
    right: 30px;
    display: flex;
    width: max-content !important;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      color: #ffffff;
      padding-left: 10px;
    }
  }
  *:not(*:hover, *:hover *) {
    -webkit-transition: 0.1s all ease-in-out;
    -o-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
  }
}

@media screen and (min-width: 992px) {
  .video__con {
    height: 320px;
  }
}

.loader-body {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loader {
  margin: auto;
  width: 100px !important;
  height: 100px !important;
  border: 4px solid #fff;
  border-top: 5px solid transparent;
  border-radius: 100%;
  animation: load-animate infinite linear 0.5s;
}
@keyframes load-animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.35;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load-animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.35;
  }
  100% {
    transform: rotate(360deg);
  }
}