@tailwindcss /base;

@tailwindcss /components;

@tailwindcss /utilities;

@import url(https://fonts.googleapis.com/css?family=Blinker:300,400,500,550);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --app-purple: #7611f7;
  --app-grey: #9c9c9c;
  --app-blue: #3079d8;
  --app-red: #f84550;
  --app-secondary-red: #f63e50;
  --app-yellow: #e9ba42;
  --app-grey: #717171;
  --app-green: #03a65a;
  --app-gray: #6f6f6f;
  --app-primary-text: poppins;
  --app-border-radius-sm: 10px;
  --app-border-radius-md: 15px;
  --app-border-radius-lg: 30px;
  --header-z-index: 1000;
  --sidebar-z-index: 1500;
  --form-z-index: 2000;
  --overlay-z-index: 2000;
  --modal-z-index: 2000;
  --loader-z-index: 2500;
  --toast-z-index: 2500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


ul,
ol {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}
